[Unit]
Description=vallumd
After=network.service

[Service]
EnvironmentFile=-/etc/conf.d/vallumd
EnvironmentFile=-/etc/default/vallumd
EnvironmentFile=-/etc/sysconfig/vallumd
Type=simple
ExecReload=/bin/kill -HUP $MAINPID
ExecStart=/usr/sbin/vallumd $VALLUMD_OPTIONS
Restart=always

[Install]
WantedBy=multi-user.target
